@model IEnumerable<LibrarySestem.WEB.Models.LibraryRecord>

@{
    if (Model != null && Model.Count() != 0)
    {
        <div class="divLine">
            @foreach (var record in Model)
            {
                <div>
                    <div class="inline-block width200">
                        @record.Title
                    </div>

                    <div class="inline-block width200">
                        @record.Author
                    </div>
                    <div class="inline-block width100">
                        @record.TakeTime
                    </div>

                    <div class="inline-block width100">
                        @if (record.IsReturned)
                        {
                            @record.BackTime
                        }
                        else
                        {
                            @Ajax.ActionLink("Принять книгу", "TakeBookBack/" + record.Id, new AjaxOptions
                           {
                               HttpMethod = "Post",
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "libraryPanel"
                           })
                        }

                    </div>
                </div>
            }
        </div>
    }
    else
    {
         @: У читателя нет книг
    }
}
