@model IEnumerable<LibrarySestem.WEB.Models.LibraryRecord>

@{
    if (Model != null && Model.Count() != 0)
    {
        <div class="divLine">
            @foreach (var rec in Model)
            {
                <div>
                <div class="inline-block width50">
                    @rec.Id
                </div>

                @*<div class="inline-block width50">
                    @rec.ReaderId
                </div>*@

                <div class="inline-block width200">
                    @rec.FirstName @rec.LastName
                </div>

                <div class="inline-block width100">
                    @rec.BirthDate.ToShortDateString()
                </div>

                @*<div class="inline-block width50">
                    @rec.BookId
                </div>*@

                <div class="inline-block width200">
                    @rec.Title
                </div>

                <div class="inline-block width100">
                    @rec.Author
                </div>

                <div class="inline-block width100">
                    @rec.TakeTime
                </div>

                <div class="inline-block width100">
                    @if(!rec.IsReturned)
                    {
                        @: книга на руках
                    }
                    else
                    {
                        @rec.BackTime
                    }
                </div>


            </div>
            }
        </div>


    }

    else
    {
        @: Книги ещё не выданы
    }
}
